<?xml version="1.0" encoding="UTF-8"?>
<Server version="8">
    <Name>OvenMediaEngine</Name>
    <Type>origin</Type>
    <IP>*</IP>
    <StunServer>stun.l.google.com:19302</StunServer>

    <Bind>
        <Managers>
            <API>
                <Port>8081</Port>
            </API>
        </Managers>
        <Providers>
            <RTSP>
                <Port>554</Port>
            </RTSP>
            <RTMP>
                <Port>1935</Port>
            </RTMP>
            <SRT>
                <Port>9999</Port>
            </SRT>
        </Providers>
        <Publishers>
            <WebRTC>
                <Signalling>
                    <Port>3333</Port>
                    <TLSPort>3334</TLSPort>
                </Signalling>
                <IceCandidates>
                    <!-- Set this to your actual server IP or use 0.0.0.0 for auto-detection -->
                    <!-- Example: <IceCandidate>192.168.1.100:10000-10009/udp</IceCandidate> -->
                    <IceCandidate>*:10000-10009/udp</IceCandidate>
                </IceCandidates>
            </WebRTC>
            <LLHLS>
                <Port>8080</Port>
            </LLHLS>
        </Publishers>
    </Bind>                          

    <Managers>
        <Host>
            <Names>
                <Name>*</Name>
            </Names>
        </Host>
        <API>
            <AccessToken>bXl2bXNhY2Nlc3N0b2tlbg==</AccessToken>
        </API>
    </Managers>

    <VirtualHosts>
        <VirtualHost include="VHost*.xml"/>
    </VirtualHosts>
</Server>